In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [2]:
with open("carteira.txt", "r") as arquivo:
    texto = arquivo.readlines()

carteira = {}

for linha in texto:
    ticker, valor = linha.split("-")
    ticker = f"{ticker.strip()}.SA"
    valor = float(valor.strip())
    print(ticker, valor)
    carteira[ticker] = valor
print(carteira)

ITUB4.SA 1000.0
BBAS3.SA 2000.0
VALE3.SA 1000.0
EGIE3.SA 500.0
SLCE3.SA 300.0
{'ITUB4.SA': 1000.0, 'BBAS3.SA': 2000.0, 'VALE3.SA': 1000.0, 'EGIE3.SA': 500.0, 'SLCE3.SA': 300.0}

In [3]:
def obter_cotacoes(tickers, inicio, final):
    dados = yf.download(tickers, start=inicio, end=final)
    return dados['Close']

acao = list(carteira.keys()) + ["^BVSP"]

data_inicio = "2024-01-01"
data_final = datetime.today().strftime('%Y-%m-%d')

tabela_cotacoes = obter_cotacoes(acao, data_inicio, data_final)
display(tabela_cotacoes)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  6 of 6 completed

Ticker       BBAS3.SA   EGIE3.SA   ITUB4.SA   SLCE3.SA   VALE3.SA     ^BVSP
Date
2024-01-02  24.944136  41.862671  26.764875  17.552208  67.873283  132697.0
2024-01-03  24.966911  41.843868  26.469437  17.676556  67.520920  132834.0
2024-01-04  24.702715  41.721626  26.293776  17.456556  66.613586  131226.0
2024-01-05  24.998800  41.655800  26.908600  17.714817  65.759125  132023.0
2024-01-08  25.212889  41.354900  26.621149  17.561773  65.424377  132427.0
...               ...        ...        ...        ...        ...       ...
2025-03-26  28.809999  38.709999  32.071968  18.250000  57.689999  132520.0
2025-03-27  28.690001  39.049999  32.111946  18.590000  58.150002  133149.0
2025-03-28  28.639999  39.070000  31.672192  18.430000  57.560001  131902.0
2025-03-31  28.190001  38.599998  31.392349  18.600000  56.700001  130260.0
2025-04-01  28.330000  38.400002  31.400000  18.850000  57.189999  131147.0

[313 rows x 6 columns]

In [4]:
rentabilidades = {}
for ativo in tabela_cotacoes.columns:
    if not tabela_cotacoes[ativo].empty:
        rentabilidade = tabela_cotacoes[ativo].iloc[-1] / tabela_cotacoes[ativo].iloc[0]
        rentabilidades[ativo] = rentabilidade

print("Rentabilidades calculadas:", rentabilidades)

Rentabilidades calculadas: {'BBAS3.SA': 1.1357378865783687, 'EGIE3.SA': 0.9172850346563092, 'ITUB4.SA': 1.173179367928872, 'SLCE3.SA': 1.0739389846922742, 'VALE3.SA': 0.8425995586698136, '^BVSP': 0.9883192536379873}

In [7]:
valor_inicial = sum(carteira.values())
print("Valor inicial da carteira:", valor_inicial)

valor_final = sum(carteira[ativo] * rentabilidades[ativo] for ativo in carteira if ativo in rentabilidades)
print("Valor final da carteira:", valor_final)

rentabilidade_carteira = (valor_final / valor_inicial) - 1
print(f"{rentabilidade_carteira:.1%}")
rentabilidade_indice = rentabilidades["^BVSP"] - 1
print(f"{rentabilidade_indice:.1%}")

Valor inicial da carteira: 4800.0
Valor final da carteira: 5068.07891249126
5.6%
-1.2%